
.container {
    text-align: center;
    font-size: large;
    font-family: 'Arial', sans-serif;
    background-image: url("../../assets/background.jpg");
}

.form-group {
    margin-bottom: 5vh;
}

.btn {
    height: 6vh;
    background-color: red;
    border: black 1px solid;
    border-radius: 10vh;
    padding: 2vh;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: darkred;
}
.my-photo {
    margin-bottom: 15px;
}

.my-photo-image {
    border-radius: 50%;
    width: 50vh;
    margin:  5vh;
}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: x-large;
    font-family: 'Courier New', monospace;
}

.form-control {
    width: 30vh;
}

.label-left {
    text-align: left;}

.content{
    background-color: white;
    border: black 1px solid;
    margin-left: 30vh;
    margin-right: 30vh;
}