<div class="container">

    <div class="my-photo">
        <img src="https://cdn.discordapp.com/attachments/1145399219243450392/1177094103142506526/image.png?ex=6571414f&is=655ecc4f&hm=0a5bc25e63f63698f441cc375f90e9a89d3dd4ebfd23e831ca5d8531d63b1c41&" alt="Mi foto" class="my-photo-image">
    </div>

    <div class="content">
        <div class="title">Registro de datos</div>
        <div class="form-group">
            <label for="nombres" class="label-left">Nombres:</label> <br>
            <input type="text" class="form-control" id="nombres" [(ngModel)]="nombres" required>
        </div>
        <div class="form-group">
            <label for="apellidos" class="label-left">Apellidos:</label> <br>
            <input type="text" class="form-control" id="apellidos" [(ngModel)]="apellidos" required>
        </div>
        <div class="form-group">
            <label for="dni" class="label-left">DNI:</label> <br>
            <input type="text" class="form-control" id="dni" [(ngModel)]="dni" required>
        </div>
        <div class="form-group">
            <label for="email" class="label-left">Correo electrónico:</label> <br>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="password" class="label-left">Contraseña:</label> <br>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" required>
        </div>
        <button (click)="registrar()" class="btn btn-primary">Registrar</button> <br> <br>
        <button (click)="iniciarSesion()" class="btn btn-primary">Regresar</button>
        <br> <br>
    </div>
    <br> <br>
</div>
