
<body>
<div class="container">
    <div class="image"></div>
    <br>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <label for="email" id="email-label">Correo Electrónico:</label>
        <input type="email" id="email" name="email" formControlName="email" required><br>

        <label for="password" id="password-label">Contraseña:</label>
        <input type="password" id="password" name="password" formControlName="password" required><br>

        <div id="button-container">
            <div id="button-group">
                <button type="submit" id="login-button">Iniciar Sesión</button>
                <button type="button" id="register-button" (click)="registerOnClick()">Registrarse Aquí</button>
            </div>
            <br>
            <a id="forgot-password-link" href="#">¿Has olvidado tu contraseña?</a>
        </div>
    </form>
</div>
</body>