<p></p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        h2,
        input {
            display: inline-block;
            vertical-align: top;
            margin: 5px;
        }
        
        button {
            margin-right: 10px;
        }
        
    </style>
    <link rel="stylesheet" href="evaluacion-resultados-componente.component.css">
</head>
<body>
    <div class="container"></div>
    <h1>Resultados</h1>

    <table border="1">
        <tr>
            <td>Valor del vehiculo:</td>
            <td><input type="text" [(ngModel)]="valorVehiculo" readonly></td>
            <td><input type="text" [(ngModel)]="porcentajeValorVehiculo" readonly></td>
        </tr>
        <tr>
            <td>Cuota Inicial</td>
            <td><input type="text" [(ngModel)]="cuotaInicial" readonly></td>
            <td><input type="text" [(ngModel)]="porcentajeCuotaInicial" readonly></td>
        </tr>
        <tr>
            <td>Monto de prestamo:</td>
            <td><input type="text" [(ngModel)]="montoPrestamo" readonly></td>
            <td><input type="text" [(ngModel)]="porcentajeMontoPrestamo" readonly></td>
        </tr>
    </table>

    <div class="flex-container">
        <h2>Saldo: <input type="text" [(ngModel)]="saldo" readonly></h2>
        <h2>Amortización: <input type="text" [(ngModel)]="amortizacion" readonly></h2>
        <br>
        <h2>Interes: <input type="text" [(ngModel)]="interes" readonly></h2>
        <h2>Envio Fisico: <input type="text" [(ngModel)]="envioFisico" readonly></h2>
        <br>
        <h2>seg.Desgravem: <input type="text" [(ngModel)]="segDesgravem" readonly></h2>
        <h2>Cuota Mensual: <input type="text" [(ngModel)]="cuotaMensual" readonly></h2>
        <br>
        <h2>Seguro bien: <input type="text" [(ngModel)]="seguroBien" readonly></h2>
    </div>    
    <br>

    <button type="button" (click)="onAnteriorClick()">ANTERIOR</button>
    <button type="button" (click)="onIrCronogramaClick()">Ir al Cronograma de Pagos</button>


</body>
</html>        
