.grid-layout {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
    background-image: url("../../assets/background.jpg");

}

.table {
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 100%;
    grid-column: 2/ span 10;
    max-height: 60vh; /* Altura máxima para la tabla (ajusta según tus necesidades) */
    overflow-y: auto; /* Desplazamiento vertical */
    overflow-x: auto; /* Desplazamiento horizontal si es necesario */
}
.titulo h1{
    font-size: 80px;
    margin: 5vh;
}

.titulo{
    color: black;
    text-shadow: 2px 2px 4px #000000;
    grid-column: 2/ span 10;

}



.mat-table {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-collapse: collapse;

}

.mat-cell {
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-header-cell {
    font-weight: bold;
    background-color: #f0f0f0;
}
.button{
    grid-column: 4/ span 6;
    margin: 10vh;
}