
<body>
<div class="container">
    <h1 id="titulo">MENU</h1>
    <div class="image"></div>
    <div id="button-container">
        <div id="button-group">
            <button type="submit" id="login-button" (click)="Calcular()">Calcular</button>
            <button type="button" id="register-button" (click)="historial()" >Ver Historial</button>
        </div>
        <br>
        <button type="button" id="logout-button" (click)="logout()" >Cerrar sesión</button>
        <br>
    </div>
</div>
</body>